<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<div style="margin-top: 30px">
  <%= form_with(url: articles_path, method: :get) do |f| %>
    <div class="control">
      <%= f.text_field :search_word, placeholder: "記事を検索する" %>
    </div>
    <div class="control">
      <%= f.submit "検索", class: "button is-info" %>
    </div>
  <% end %>
</div>

<div id="articles">
  <% @articles.each do |article| %>
    <p>
      <strong>Title:</strong>
      <%= link_to article.title, article_path(article) %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= article.description %>
    </p>
    <p>
      <strong>Author:</strong>
      <%= article.author.name %>
    </p>
    <p>
      <strong>Publisher:</strong>
      <%= article.publisher.name %>
    </p>
    <p>
      <strong>Category:</strong>
      <%= article.category.name %>
    </p>
    <p>
    <% if article.pdf.present? %>
      <div>
        <p><strong>PDF:</strong></p>
        <object data="<%= url_for(article.pdf) %>" type="application/pdf" width="400" height="400"></object>
      </div>
    <% end %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
